$S: 414px;
$M: 786px;
$L: 992px;
$XL: 1280px;
//Media queries
@mixin Responsive($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: $S) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (max-width: $M) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (max-width: $L) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

//Transform mixin
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

//Transform origin
@mixin transform-origin($property) {
  -webkit-transform-origin: $property;
  -ms-transform-origin: $property;
  -o-transform-origin: $property;
  transform-origin: $property;
}

//Filter mixin
@mixin filter($property) {
  -webkit-filter: $property; /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: $property; /* FF 35+ */
}

//Animation mixin
@mixin animation-name($name...) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-timing-function($timing...) {
  -o-animation-timing-function: $timing;
  -moz-animation-timing-function: $timing;
  -webkit-animation-timing-function: $timing;
  animation-timing-function: $timing;
}

@mixin animation-iteration-count($count...) {
  -o-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  animation-iteration-count: $count;
}

@mixin animation-direction($direction...) {
  -o-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -webkit-animation-direction: $direction;
  animation-direction: $direction;
}

@mixin animation-fill-mode($fill...) {
  -o-animation-fill-mode: $fill;
  -moz-animation-fill-mode: $fill;
  -webkit-animation-fill-mode: $fill;
  animation-fill-mode: $fill;
}

@mixin animation-play-state($state...) {
  -o-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  animation-play-state: $state;
}

@mixin animation-delay($animation-delay...) {
  -o-animation-delay: $animation-delay;
  -moz-animation-delay: $animation-delay;
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

//Transition prop mixin
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

//Font mixin
@mixin init-font($font,
				$file_name,
				$font-w: 'normal',
				$font-st: 'normal') {
  @font-face {
    font-family: $font;
    src: url('../font/'+ $file_name);
    font-weight: $font-w;
    font-style: $font-st;
  }
}

//Flexbox display
@mixin display-flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

//Flex mixin
@mixin flex($direction: row, $wrapping: wrap, $jc: center) {
  @include display-flex;
  @if $direction == col {
    flex-direction: column;
    -webkit-flex-flow: column;
  } @else {
    flex-direction: row;
    -webkit-flex-flow: row;
    align-items: center;
  }
  flex-wrap: $wrapping;
  @if $jc == sp-bw {
    justify-content: space-between;
  } @else {
    justify-content: $jc;
  }
}

@mixin grid($layout: row, $paging1: 1fr, $paging2: null) {
  display: -ms-grid;
  display: grid;
  @if $layout == both {
    -ms-grid-columns: $paging1;
    grid-template-columns: $paging1;
    -ms-grid-rows: $paging2;
    grid-template-rows: $paging2;
  } @else {
    @if $layout == row {
      -ms-grid-rows: $paging1;
      grid-template-rows: $paging1;
    } @else {
      -ms-grid-columns: $paging1;
      grid-template-columns: $paging1;
    }
  }
}

//Appearance
@mixin appearance-none($content: none) {
  -webkit-appearance: $content;
  -moz-appearance: $content;
  -ms-appearance: $content;
  appearance: $content;
}

//Box shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin center-box {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin grid-place($row-from, $row-to, $col-from, $col-to) {
  -ms-grid-row: $row-from;
  -ms-grid-row-span: $row-to - $row-from;
  grid-row: #{$row-from}/#{$row-to};
  -ms-grid-column: $col-from;
  -ms-grid-column-span: $col-to - $col-from;
  grid-column: #{$col-from}/#{$col-to};
}

@mixin grid-fit($min-row: null, $min-col: null) {
  display: -ms-grid;
  display: grid;
  @if $min-col != null {
    -ms-grid-columns: (minmax($min-col, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax($min-col, 1fr));
  }
  @if $min-row != null {
    -ms-grid-rows: (minmax($min-row, 1fr)) [auto-fit];
    grid-template-rows: repeat(auto-fit, minmax($min-row, 1fr));
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content ;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content ;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content ;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content ;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content ;
    }
  }
}
