<template>
  <div class="list-user__container">
    <b-table
      id="table-user"
      :fields="fields"
      :items="items"
      borderless
      head-variant="dark"
      striped
    />

    <pagination
      :current-page="currentPage"
      :total="totalRows"
      :total-pages="totalPage"
      @page-changed="onPageChange"
    />
  </div>
</template>

<script>
    import {userService} from "../services";
    import Pagination from "../components/Pagination";

    export default {
        name: "ListUserViewer",
        components: {
            Pagination
        },
        data() {
            return {
                currentPage: 1,
                totalPage: 0,
                limit: 10,
                totalRows: 0,
                fields: [
                    {
                        key: 'username',
                        label: 'UserName'
                    },
                    {
                        key: 'full_name',
                        label: 'Full Name'
                    },
                    {
                        key: 'email',
                        label: 'Email'
                    },
                    {
                        key: 'country',
                        label: 'Country'
                    }
                ],
                items: []
            }
        },
        mounted() {
            this.fetchData();
        },


        methods: {
            onPageChange: function (num) {
                this.currentPage = num;
                this.fetchData();
            },
            fetchData: async function () {
                let response = await userService.getListUser(this.currentPage, this.limit);
                this.totalRows = parseInt(response.headers["x-total-count"]);
                if (response.status === 200) {
                    this.items = [];
                    this.items = [...response.data];
                }
                this.totalPage = Math.ceil(this.totalRows / this.limit);

            },
        }
    }
</script>

<style lang="scss" scoped>
  @import "./../assets/scss/helper";

  .list-user__container {
    width: 70%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px #bbbbbb;
    @include Responsive(L) {
      width: 95%;
    }

  }
</style>