<template>
  <div class="login__container ">
    <img
      alt="logo"
      class="logo"
      src="@/assets/img/logo.svg"
    >
    <h5>Hello! let's get started</h5>
    <h6>Sign in to continue.</h6>
    <input
      v-model="user.username"
      class="input-text"
      placeholder="Username"
      type="text"
    >
    <input
      v-model="user.password"
      class="input-text"
      placeholder="Password"
      type="password"
    >
    <div class="notify">
      {{ notify }}
    </div>
    <div
      class="btn-sign-in btn"
      @click="signIn"
    >
      SIGN IN
    </div>
    <div class="control-login-wrapper">
      <div>
        <input
          id="keep-sign-in"
          type="checkbox"
        >
        <label for="keep-sign-in">Keep me signed in</label>
      </div>
      <a href="#">Forgot password?</a>
    </div>
    <div class="btn-connect-facebook btn">
      <img
        src="@/assets/img/facebook.svg"
        class="icon-facebook"
        alt="icon"
      > Connect using facebook
    </div>

    <div class="create-account">
      Don't have an account?
      <router-link
        alt="register"
        tag="a"
        to="/register"
      >
        Create
      </router-link>
    </div>
  </div>
</template>

<script>
    import {userService} from "../services";
    export default {
        name: "Login",
        data(){
            return{
                notify: "",
                user:{
                    username: "",
                    password: "",
                }
            }
        },
        methods:{
            signIn: async function(){
                if(this.validateEmptyString(this.user.username) && this.validateEmptyString(this.user.password)){
                    this.notify = "";
                    let response = await userService.login(this.user.username, this.user.password);
                    if(response.status === 200){
                        localStorage.setItem("token", response.data.token);
                        this.$router.push({ path: '/' })
                    }else{
                        this.notify = "username or password input incorrect !"
                    }
                } else{
                  this.notify = "username or password input incorrect !";
                }
            },

            validateEmptyString: function (string) {
                const re = /^[a-z0-9_-]{3,15}$/;
                return re.test(String(string));
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .login__container {
        height: fit-content;
        margin: auto;
        background-color: #fff;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem;
        @include Responsive(L) {
            width: 60%;
        }
        @include Responsive(M) {
            width: 80%;
        }
        @include Responsive(S) {
            width: 90%;
        }

        .logo {
            width: 150px;
            margin: 0 0 2rem;
        }

        h5 {
            margin: 0 0 0.5rem;
        }

        h6 {
            font-size: 15px;
            margin: 0 0 1.5rem;
            font-weight: initial;
        }

        .input-text {
            margin-bottom: 1.5rem;
            border: 1px solid #c9ccd7;
            font-weight: 400;
            font-size: 0.9rem;
            width: 100%;
            padding: 1rem 2rem;
            line-height: 1.5;
        }

        .notify {
            color: red;
            font-size: 15px;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        .btn {
            width: 100%;
            color: #fff;
            padding: 1rem 3rem;
            line-height: 1.5;
            cursor: pointer;
            font-size: 0.8rem;
        }

        .btn-sign-in {
            background-color: #248afd;
            border-color: #248afd;
            &:hover {
                background-color: #0276f8;
                border-color: #0270ec;
            }
        }

        .btn-connect-facebook {
            display: flex;
            justify-content: center;
            align-items: end;
            background-color: #2d4278;
            .icon-facebook{
                width: 15px;
                margin-right: 10px;
            }
        }

        .control-login-wrapper {
            margin: 0.5rem 0;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.5rem 0;

            label {
                margin-left: 0.5rem;
            }

            a {
                color: #000;
            }

        }

        .create-account {
            margin-top: 1.5rem;
            width: 100%;
        }

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

    }
</style>