<template>
  <div class="pageNotFound__container">
    <img
      src="@/assets/img/pageNotFound.png"
      alt="page_not_found"
    >
  </div>
</template>

<script>
    export default {
        name: "PageNotFound"
    }
</script>

<style lang="scss" scoped>
    .pageNotFound__container{
        img{

        }
    }

</style>