<template>
  <div class="register__container ">
    <img
      alt="logo"
      class="logo"
      src="@/assets/img/logo.svg"
    >
    <h5>New here?</h5>
    <h6>Signing up is easy. It only takes a few steps</h6>
    <input
      v-model="userRegister.username"
      class="input-text"
      maxlength="20"
      placeholder="Username"
      type="text"
    >
    <input
      v-model="userRegister.email"
      class="input-text"
      placeholder="Email"
      type="text"
    >
    <select
      v-model="userRegister.country"
      class="select-country"
    >
      <option
        selected
        value=""
      >
        Country
      </option>
      <option
        v-for="(item,index) in country"
        :key="index"
        :value="item"
      >
        {{ item }}
      </option>
    </select>
    <input
      v-model="userRegister.password"
      class="input-text"
      maxlength="9"
      placeholder="Password"
      type="password"
    >
    <div class="agree">
      <input
        id="agree"
        v-model="isAgreeTerms"
        type="checkbox"
      >
      <label for="agree">I agree to all Terms & Conditions</label>
    </div>
    <div class="notify">
      {{ notify }}
    </div>
    <button
      :disabled="isAgreeTerms ? false : true"
      class="btn-sign-up btn"
      @click="signUp"
    >
      SIGN UP
    </button>

    <div class="login">
      Already have an account?
      <router-link
        alt="login"
        tag="a"
        to="/login"
      >
        Login
      </router-link>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Register",
        data() {
            return {
                isAgreeTerms: false,
                notify: '',
                userRegister: {
                    username: "",
                    password: "",
                    country: "",
                    email: "",
                },
                country: [
                    'United States of America',
                    'United Kingdom',
                    'India',
                    'Germany',
                    'Argentina'
                ]
            }
        },
        methods: {
            signUp: function () {
                if (this.validateEmail(this.userRegister.email) &&
                    this.validateEmptyString(this.userRegister) &&
                    this.validateEmptyString(this.userRegister.password) &&
                    this.validateEmptyString(this.userRegister.country)) {

                    this.notify = '';
                } else {
                    this.notify = 'input incorrect !';
                }

            },
            validateEmptyString: function (string) {
                const re = /^[a-z0-9_-]{3,15}$/;
                return re.test(String(string));
            },
            validateEmail: function (email) {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "./../assets/scss/helper";
    .register__container {
        height: fit-content;
        margin: auto;
        background-color: #fff;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding: 3rem;

        @include Responsive(L) {
            width: 60%;
        }
        @include Responsive(M) {
            width: 80%;
        }
        @include Responsive(S) {
            width: 90%;
        }

        .logo {
            width: 150px;
            margin: 0 0 2rem;
        }

        h5 {
            margin: 0 0 0.5rem;
        }

        h6 {
            margin: 0 0 1.5rem;
            font-size: 15px;
            font-weight: initial;
        }

        .input-text {
            margin-bottom: 1.5rem;
            border: 1px solid #c9ccd7;
            font-weight: 400;
            font-size: 0.9rem;
            width: 100%;
            padding: 1rem 2rem;
            line-height: 1.5;
        }

        .select-country {
            margin-bottom: 1.5rem;
            border: 1px solid #c9ccd7;
            font-weight: 400;
            font-size: 0.9rem;
            width: 100%;
            padding: 1rem 2rem;
            line-height: 1.5;
            color: #757575;

            .styled-select {
                background-color: #c9ccd7;
            }

        }

        .btn {
            width: 100%;
            color: #fff;
            padding: 1rem 3rem;
            line-height: 1.5;
            cursor: pointer;
            font-size: 0.8rem;
        }

        .agree {
            margin-bottom: 0.5rem;
            padding-bottom: 1rem;
            font-size: 15px;

            label {
                margin-left: 0.5rem;
            }
        }

        .notify {
            color: red;
            font-size: 15px;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        .btn-sign-up {
            background-color: #248afd;
            border-color: #248afd;
        }

        .btn-sign-up:hover {
            background-color: #0276f8;
            border-color: #0270ec;
        }

        .login {
            margin-top: 1.5rem;
            width: 100%;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    }
</style>