<template>
  <div id="pagination">
    <ul
      class="pagination"
      aria-label="Page navigation"
    >
      <li>
        <button
          type="button"
          :disabled="isInFirstPage"
          aria-label="Go to the first page"
          @click="onClickFirstPage"
        >
          First
        </button>
      </li>
      <li>
        <button
          type="button"
          :disabled="isInFirstPage"
          aria-label="Previous"
          @click="onClickPreviousPage"
        >
          «
        </button>
      </li>
      <li
        v-for="(page, index) in pages"
        :key="index"
      >
        <button
          type="button"
          :disabled="page.isDisabled"
          :class="{active: isPageActive(page.name)}"
          :aria-label="`Go to page number ${page.name}`"
          @click="onClickPage(page.name)"
        >
          {{ page.name }}
        </button>
      </li>
      <li>
        <button
          type="button"
          :disabled="isInLastPage"
          aria-label="Next"
          @click="onClickNextPage"
        >
          »
        </button>
      </li>
      <li>
        <button
          type="button"
          :disabled="isInLastPage"
          aria-label="Go to the last page"
          @click="onClickLastPage"
        >
          Last
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
    export default {
        name: "Pagination",
        props: {
            maxVisibleButtons: {
                type: Number,
                required: false,
                default: 3
            },
            totalPages: {
                type: Number,
                required: true
            },
            total: {
                type: Number,
                required: true
            },
            currentPage: {
                type: Number,
                required: true
            }
        },
        computed: {
            isInFirstPage: function () {
                return this.currentPage === 1
            },
            isInLastPage: function () {
                return this.currentPage === this.totalPages
            },
            startPage: function () {
                if (this.currentPage === 1) {
                    return 1
                }
                if (this.currentPage === this.totalPages) {
                    return this.totalPages - this.maxVisibleButtons + 1
                }
                return this.currentPage - 1
            },
            endPage: function () {
                return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages)
            },
            pages: function () {
                const range = [];
                for (let i = this.startPage; i <= this.endPage; i+=1) {
                    range.push({
                        name: i,
                        isDisabled: i === this.currentPage
                    })
                }
                return range
            }
        },
        methods: {
            onClickFirstPage: function () {
                // eslint-disable-next-line vue/require-explicit-emits
                this.$emit('page-changed', 1)
            },
            onClickPreviousPage: function () {
                // eslint-disable-next-line vue/require-explicit-emits
                this.$emit('page-changed', this.currentPage - 1)
            },
            onClickPage: function (page) {
                // eslint-disable-next-line vue/require-explicit-emits
                this.$emit('page-changed', page)
            },
            onClickNextPage: function () {
                // eslint-disable-next-line vue/require-explicit-emits
                this.$emit('page-changed', this.currentPage + 1)
            },
            onClickLastPage: function () {
                // eslint-disable-next-line vue/require-explicit-emits
                this.$emit('page-changed', this.totalPages)
            },
            isPageActive: function (page) {
                return this.currentPage === page;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .pagination {
        margin: 0;
        padding: 0;
        list-style: none outside none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 4px;
            padding: 0;
            list-style: none outside none;
            line-height: 25px;
        }

        button {
            display: block;
            border: none 0;
            color: #f2f2f2;
            text-shadow: 1px 0 0 #101011;
            padding: .5em 1.5em;
            border-radius: 2px;
            box-shadow: 0 1px 0 #5a5b5c inset, 0 1px 0 #080808;
            background: linear-gradient(to top,#434345,#2f3032);
            text-decoration: none;
            cursor: pointer;

            &:hover,
            &.active{
                text-decoration: none;
                box-shadow: 0 1px 0 #f9bd71 inset, 0 1px 0 #0a0a0a;
                background: linear-gradient(to top, #0066cb, #005cb7);
            }
        }
    }
</style>