<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

    export default {
        name: "Login",
        data(){
            return{}
        },
        methods:{}
    }
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        padding: 1.5rem 0 ;
        background-color: #dddce1;
        align-self: center;
    }

    body {
        margin: 0;
    }

</style>
